<!-- Navigation with Search -->
<header>
  <nav class="navbar navbar-light fixed-top bg-light">
    <videos-search (videosUpdated)="handleSearchVideo($event)" [loadingInProgress]="loadingInProgress">
    </videos-search>
  </nav>
</header>


<!-- List of videos -->
<ng-container *ngIf="videoList.length; else loaderEl">
  <videos-list [videoList]="videoList" [loadingInProgress]="loadingInProgress">
  </videos-list>
</ng-container>


<!-- display loader if there is no video -->
<ng-template #loaderEl>
  <div class="loader">
    <div class="loading"></div>
  </div>
</ng-template>

<!-- play video -->
<video-player></video-player>
